<div class="page">
  <div class="items">


    <div *ngIf="!currentRecord" class="temp-container center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="currentRecord" class="temp-container">
      <div class="temp center">{{currentRecord.tempF.toFixed(1)}} °F</div>
      <div class="center as-of">As Of</div>
      <div class="center">
        {{currentRecord.date | date:"EEEE, MMMM d, y"}}
        at {{currentRecord.date | date:"h:mm a"}}
      </div>
    </div>


    <div class="version">
      version {{AppVersion.VERSION}}
    </div>

  </div>
</div>
