<div class="page">
  <div class="items">


    <div>

      <div class="lake">
        <div class="lake-content shadow-text">
          <div class="center on">
            On
          </div>
          <div class="center lt">
            Lake Tomahawk
          </div>
          <div class="center water">
            The Water Is
          </div>

          <div *ngIf="!currentRecord" class="center">
            <app-loading-spinner></app-loading-spinner>
          </div>

          <app-current-temp *ngIf="currentRecord" [temperature]="currentRecord"></app-current-temp>
        </div>
      </div>

      <div *ngIf="currentRecord" class="graph center">
        <app-temp-chart [temperatureData]="tempRecords"></app-temp-chart>
      </div>

      <div class="center">
        <span>
          Get the complete
          <a href="https://docs.google.com/spreadsheets/d/19EeNlkYdQqr8EXXHsszUXIYHZpZFaH-P_BccS7rEWCs/edit#gid=0"
            target="_blank">
            dataset
          </a>
        </span>
        .
      </div>

    </div>



    <div class="version">
      version {{AppVersion.VERSION}}
    </div>

  </div>
</div>
